@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetChat.Pages.CalculatorModel
@{
    ViewData["Title"] = "Calculator";
}

<h2>@Model.Message</h2>
<form method="post">
    <input type="text" name="num1" />
    <input type="text" name="num2" />
    <input type="submit" value="Add" />
</form>
